@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
nav {
	font-size: 20px;
	position: sticky;
	top: 0;
	z-index: 99;
	margin-bottom: 5px;
}

nav ul li{
	padding: 0%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	padding-left:  15%;

}
/*
.ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
}
*/
.dropdown-toggle::after {
    display:none;
}

#logout{
	background:  #BA1010;
	border-color: white;
}

#logout:hover{
	color: white;
	background-color: #D3D2D2;
	font-weight: bold;
}
#nav{
	background: #990909;
}
#submenus{
	background: #990909;
}
#submenus>a{
	color:white;
}
#submenus>a:hover{
	color: white;
	background-color: #D3D2D2;
	font-weight: bold;
}
.nav-item a{
	cursor: pointer;
}
.nav-item a:hover{
	cursor: pointer;

}
