*{
	font-family: "georgia";


}

body{
	background-image: url("https://lh4.googleusercontent.com/proxy/G80PtBHjn0mlvbk82NXv1otFRhRLkymhCFZNI7-sFENHB_0S9iI3cvTgDGkMO7Jyg3AnvFZf9r1EmZ6leSAPom809iBucD-QthrTs4A=s0-d");


}
#cuadrosesion{
	border: 5px solid #ccc;

}

#inicio{
	color:white;
	text-align: center;
	margin: 150px 300px 0px 300px; 

}
#titulo{
	text-decoration: underline;
	text-transform: uppercase;
	font-size:	30px;
}

#datos1{
	padding: 2% 0% 2% 0%; 
	font-size:	30px;
}
#datos2{
	padding: 2% 0% 2% 0%; 
	font-size:	30px;	
}
#datos3{
	padding: 2% 0% 2% 0%; 
	font-size:	30px;	

}