
.row .col-12 {
	margin-top: 2%;
	padding-top: 2%;
    background-color: #ffffff;
}
label,input,select{
    border-radius: 0;
}
.form-group button{
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%; 
}